<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Admin Panel</title>
</head>
    <body class="w-screen h-screen overflow-x-hidden">
    <div class="w-full h-full">
        <!-- Add Product Popup -->
        <% if(error.length > 0) { %> 
            <div id="addProductPopup_reverse" class="rounded-xl absolute top-[20%] h-[auto] max-h-[90%] xl:left-[35%] xl:w-[30%] lg:left-[30%] lg:w-[40%] md:left-[27%] md:w-[46%] sm:left-[25%] sm:w-[50%] xs:left-[20%] xs:w-[60%] left-[15%] w-[70%] bg-gradient-to-t from-slate-600 to-neutral-300 p-6 shadow-lg">
                <h2 class="text-lg font-semibold mb-4">Add New Product</h2>
                <form action="/product/create" method="post" class="text-white space-y-4" enctype="multipart/form-data">
                    <div class="w-full flex">
                        <div class="w-1/2">
                            <div>
                                <label for="image" class="block text-sm mb-1">Image:</label>
                                <input type="file" name="image" id="image" class="block w-full mt-1 mb-2 px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                            <div>
                                <label for="name" class="block text-sm mb-1">Name:</label>
                                <input type="text" name="name" id="name" placeholder="Enter Name" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                            <div>
                                <label for="price" class="block text-sm mb-1">Price:</label>
                                <input type="number" name="price" id="price" placeholder="Enter Price" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                        </div>
                        <div class="w-1/2 xl:pl-6 lg:pl-5 md:pl-4 sm:pl-3 xs:pl-2 pl-1">
                            <div>
                                <label for="bgColor" class="block text-sm mb-1">BG-Color:</label>
                                <input type="color" name="bgColor" id="bgColor" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                            <div>
                                <label for="panelColor" class="block text-sm mb-1">Panel-Color:</label>
                                <input type="color" name="panelColor" id="panelColor" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                            <div>
                                <label for="textColor" class="block text-sm mb-1">Text-Color:</label>
                                <input type="color" name="textColor" id="textColor" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                        </div>
                    </div>
                    <button class="h-10 w-full bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 transition" type="submit">Add</button>
                </form>
            </div>
            
        <% } else { %>
            <div id="addProductPopup" class="hidden rounded-xl absolute top-[20%] h-[auto] max-h-[90%] xl:left-[35%] xl:w-[30%] lg:left-[30%] lg:w-[40%] md:left-[27%] md:w-[46%] sm:left-[25%] sm:w-[50%] xs:left-[20%] xs:w-[60%] left-[15%] w-[70%] bg-gradient-to-t from-slate-600 to-neutral-300 p-6 shadow-lg">
                <h2 class="text-lg font-semibold mb-4">Add New Product</h2>
                <form action="/product/create" method="post" class="text-white space-y-4" enctype="multipart/form-data">
                    <div class="w-full flex">
                        <div class="w-1/2">
                            <div>
                                <label for="image" class="block text-sm mb-1">Image:</label>
                                <input type="file" name="image" id="image" class="block w-full mt-1 mb-2 px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                            <div>
                                <label for="name" class="block text-sm mb-1">Name:</label>
                                <input type="text" name="name" id="name" placeholder="Enter Name" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                            <div>
                                <label for="price" class="block text-sm mb-1">Price:</label>
                                <input type="number" name="price" id="price" placeholder="Enter Price" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                        </div>
                        <div class="w-1/2 xl:pl-6 lg:pl-5 md:pl-4 sm:pl-3 xs:pl-2 pl-1">
                            <div>
                                <label for="bgColor" class="block text-sm mb-1">BG-Color:</label>
                                <input type="color" name="bgColor" id="bgColor" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                            <div>
                                <label for="panelColor" class="block text-sm mb-1">Panel-Color:</label>
                                <input type="color" name="panelColor" id="panelColor" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                            <div>
                                <label for="textColor" class="block text-sm mb-1">Text-Color:</label>
                                <input type="color" name="textColor" id="textColor" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                            </div>
                        </div>
                    </div>
                    <button class="h-10 w-full bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 transition" type="submit">Add</button>
                </form>
            </div>
            
        <% } %>

        <!-- Menu Bar -->
        <nav class="flex justify-between items-center bg-white w-full xl:h-24 lg:h-20 md:h-16 sm:h-14 h-12 shadow-md fixed top-0 left-0 xl:px-16 lg:px-14 md:px-12 sm:px-10 xs:px-8 px-6 z-50">
            <div class="flex items-center">
                <form action="/" method="get">
                    <button class="font-bold text-blue-500 lg:text-4xl md:text-3xl sm:text-2xl text-xl">Scatch</button>
                </form>
            </div>
            <div class="flex justify-evenly items-center">
                <form action="/owner/panel/stats" method="get">
                    <button class="text-green-500 hover:text-green-700 font-bold py-2 md:px-4 sm:px-3 px-2 lg:text-base sm:text-sm text-xs" type="submit">Statistics</button>
                </form>
                <button class="text-red-500 hover:text-red-700 font-bold py-2 md:px-4 sm:px-3 px-2 lg:text-base sm:text-sm text-xs" id="addProduct">Add Product</button>
            </div>              
        </nav>      

        <div class="px-7">
            <!-- Side Left Bar -->
            <div class="bg-gray-300 fixed xl:top-32 lg:top-28 md:top-24 sm:top-20 top-16 xl:w-[180px] lg:w-[160px] md:w-[140px] sm:w-[120px] xs:w-[100px] w-[80px] xl:h-52 lg:h-44 md:h-36 sm:h-32 xs:h-28 h-24">
                <button class="text-gray-800 font-bold py-2 lg:text-lg md:text-base sm:text-sm text-xs">Filter by</button>
                <button class="text-gray-800 font-bold py-2 lg:text-lg md:text-base sm:text-sm text-xs">Sort by</button>
            </div>  
            <!-- Main products display area (Change flex to grid) -->
            <div class="grid xxl:grid-cols-7 xl:grid-cols-6 lg:grid-cols-5 sm:grid-cols-4 xs:grid-cols-3 grid-cols-2 gap-5 w-full h-full xl:pt-32 lg:pt-28 md:pt-24 sm:pt-20 pt-16 xl:pl-[230px] lg:pl-[200px] md:pl-[180px] sm:pl-[150px] xs:pl-[120px] pl-[100px]">      
                <% products.forEach( (product)=>{ %>
                    <div class="rounded-md overflow-hidden xl:w-[11vw] xl:h-[15vw] lg:w-[13vw] lg:h-[18vw] sm:w-[16vw] sm:h-[22vw] xs:w-[20vw] xs:h-[29vw] w-[23vw] h-[33vw] flex flex-col bg-slate-400">
                        <div class="h-[72%] w-full flex justify-center items-center" style="background-color: <%= product.bgColor %>;">
                            <img src="data:image/png;base64,<%= product.image.toString('base64') %>" alt="Product image!" class="h-[85%] w-[85%]">
                        </div>
                        <div class="flex w-[100%] h-[28%] md:px-2 px-1" style="background-color: <%= product.panelColor %>;">
                            <div class="w-[80%] h-full flex flex-col justify-center" style="color: <%= product.textColor %>;">
                                <p class="capitalize xl:text-[19px] lg:text-[15px] md:text-[13px] sm:text-[11px] text-[9px] tracking-tight font-medium"><%= product.name %></p>
                                <p class="capitalize xl:text-[19px] lg:text-[15px] md:text-[13px] sm:text-[11px] text-[9px] tracking-tight font-medium">Rs.<%= product.price %></p>
                            </div>
                            <div class="w-[20%] h-full flex items-center justify-center">
                                <button class="editProductButton rounded-full xl:w-[25px] xl:h-[25px] lg:w-[21px] lg:h-[21px] sm:w-[17px] sm:h-[17px] xs:w-[14px] xs:h-[14px] w-[12px] h-[12px] bg-white text-black flex justify-center items-center" type="submit">
                                    <i class="fa-regular fa-pen-to-square lg:text-[14px] md:text-[12px] sm:text-[10px] xs:text-[9px] text-[7px]"></i>
                                </button>
                            </div>
                        </div>
                    </div> 
                    <!-- Edit Product Popup -->
                    <div class="editProductPopup hidden rounded-xl absolute top-[20%] h-[auto] max-h-[90%] xl:left-[35%] xl:w-[30%] lg:left-[30%] lg:w-[40%] md:left-[27%] md:w-[46%] sm:left-[25%] sm:w-[50%] xs:left-[20%] xs:w-[60%] left-[15%] w-[70%] bg-gradient-to-t from-slate-600 to-neutral-300 p-6 shadow-lg">
                        <h2 class="text-lg font-semibold mb-4">Edit Product</h2>
                        <form action="/product/edit" method="post" class="text-white space-y-4" enctype="multipart/form-data">
                            <div class="w-full flex">
                                <div class="w-1/2">
                                    <input type="text" name="_id" value="<%= product._id %>" class="text-black">
                                    <div>
                                        <label for="image" class="block text-sm mb-1">Image:</label>
                                        <input type="file" name="image" id="image" class="block w-full mt-1 mb-2 px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition">
                                    </div>
                                    <div>
                                        <label for="name" class="block text-sm mb-1">Name:</label>
                                        <input type="text" name="name" id="name" placeholder="Enter Name" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition" value="<%= product.name %>">
                                    </div>
                                    <div>
                                        <label for="price" class="block text-sm mb-1">Price:</label>
                                        <input type="number" name="price" id="price" placeholder="Enter Price" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition" value="<%= product.price %>">
                                    </div>
                                </div>
                                <div class="w-1/2 xl:pl-6 lg:pl-5 md:pl-4 sm:pl-3 xs:pl-2 pl-1">
                                    <div>
                                        <label for="bgColor" class="block text-sm mb-1">BG-Color:</label>
                                        <input type="color" name="bgColor" id="bgColor" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition" value="<%= product.bgColor %>">
                                    </div>
                                    <div>
                                        <label for="panelColor" class="block text-sm mb-1">Panel-Color:</label>
                                        <input type="color" name="panelColor" id="panelColor" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition" value="<%= product.panelColor %>">
                                    </div>
                                    <div>
                                        <label for="textColor" class="block text-sm mb-1">Text-Color:</label>
                                        <input type="color" name="textColor" id="textColor" class="outline-none block w-full px-3 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition" value="<%= product.textColor %>">
                                    </div>
                                </div>
                            </div>
                            <button class="h-10 w-full bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 transition" type="submit">Edit</button>
                        </form>
                    </div>
                <% } ) %>             
            </div>
        </div>

    </div>
    <script src="/scripts/panelScript.js"></script>
</body>
</html>