<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Admin Panel</title>
</head>
    <body class="w-screen h-screen overflow-x-hidden">
    <div class="w-full h-full">
        <!-- Add Product Popup -->
        <% if(error.length > 0) { %> 
            <div id="addProductPopup_reverse" class="overflow-hidden rounded-sm absolute top-[20%] h-[auto] max-h-[90%] xl:left-[35%] xl:w-[30%] lg:left-[30%] lg:w-[40%] md:left-[27%] md:w-[46%] sm:left-[25%] sm:w-[50%] xs:left-[20%] xs:w-[60%] left-[15%] w-[70%] bg-gradient-to-t from-slate-600 to-neutral-300 pt-2 pb-4 px-3 shadow-lg z-50">
                <h2 class="text-lg font-semibold mb-4">Add New Product</h2>
                <button id="cancelCreation" class="absolute top-0 right-0 lg:h-9 md:h-8 sm:h-7 xs:h-6 h-5 lg:w-12 md:w-11 sm:w-10 xs:w-9 w-8 bg-red-600 hover:bg-red-700 focus:outline-none focus:ring focus:ring-blue-300 transition text-white lg:text-[130%] md:text-[115%] sm:text-[100%] xs:text-[90%] text-[80%] align-middle"><i class="fa-solid fa-xmark"></i></button> 
                <form action="/product/create" method="post" class="text-white space-y-3" enctype="multipart/form-data">
                    <div class="w-full flex flex-wrap xl:text-[16px] lg:text-[15px] md:text-[14px] sm:text-[13px] xs:text-[12px] text-[10px]">
                        <div class="w-1/2">
                            <div>
                                <label for="image" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Image:</label>
                                <label for="image" class="flex items-center my-1 outline-none w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">Choose file</label>
                                <input type="file" name="image" id="image" class="hidden">
                            </div>
                            <div>
                                <label for="name" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Name:</label>
                                <input type="text" name="name" id="name" placeholder="Enter Name" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                            <div>
                                <label for="price" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Price:</label>
                                <input type="number" name="price" id="price" placeholder="Enter Price" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                            <div>
                                <label for="discount" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Discount:</label>
                                <input type="number" name="discount" id="discount" placeholder="Enter Discount" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                        </div>
                        <div class="w-1/2 xl:pl-6 lg:pl-5 md:pl-4 sm:pl-3 pl-2">
                            <div>
                                <label for="bgColor" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">BG-Color:</label>
                                <input type="color" name="bgColor" id="bgColor" class=" my-1 outline-none block w-full sm:px-3 sm:py-2 px-2 py-1 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                            <div>
                                <label for="panelColor" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Panel-Color:</label>
                                <input type="color" name="panelColor" id="panelColor" class=" my-1 outline-none block w-full sm:px-3 sm:py-2 px-2 py-1 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                            <div>
                                <label for="textColor" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Text-Color:</label>
                                <input type="color" name="textColor" id="textColor" class=" my-1 outline-none block w-full sm:px-3 sm:py-2 px-2 py-1 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                            <div>
                                <label for="quantity" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Quantity:</label>
                                <input type="number" name="quantity" id="quantity" placeholder="Enter Quantity" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                        </div>
                    </div>
                    <button class="md:h-12 sm:h-10 xs:h-9 h-8 w-full bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 transition" type="submit">Add</button>                          
                </form>
            </div>
            
        <% } else { %>
            <div id="addProductPopup" class="overflow-hidden hidden rounded-sm absolute top-[20%] h-[auto] max-h-[90%] xl:left-[35%] xl:w-[30%] lg:left-[30%] lg:w-[40%] md:left-[27%] md:w-[46%] sm:left-[25%] sm:w-[50%] xs:left-[20%] xs:w-[60%] left-[15%] w-[70%] bg-gradient-to-t from-slate-600 to-neutral-300 pt-2 pb-4 px-3 shadow-lg z-50">
                <h2 class="text-lg font-semibold mb-4">Add New Product</h2>
                <button id="cancelCreation" class="absolute top-0 right-0 lg:h-9 md:h-8 sm:h-7 xs:h-6 h-5 lg:w-12 md:w-11 sm:w-10 xs:w-9 w-8 bg-red-600 hover:bg-red-700 focus:outline-none focus:ring focus:ring-blue-300 transition text-white lg:text-[130%] md:text-[115%] sm:text-[100%] xs:text-[90%] text-[80%] align-middle"><i class="fa-solid fa-xmark"></i></button> 
                <form action="/product/create" method="post" class="text-white space-y-3" enctype="multipart/form-data">
                    <div class="w-full flex flex-wrap xl:text-[16px] lg:text-[15px] md:text-[14px] sm:text-[13px] xs:text-[12px] text-[10px]">
                        <div class="w-1/2">
                            <div>
                                <label for="image" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Image:</label>
                                <label for="image" class="flex items-center my-1 outline-none w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">Choose file</label>
                                <input type="file" name="image" id="image" class="hidden">
                            </div>
                            <div>
                                <label for="name" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Name:</label>
                                <input type="text" name="name" id="name" placeholder="Enter Name" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                            <div>
                                <label for="price" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Price:</label>
                                <input type="number" name="price" id="price" placeholder="Enter Price" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                            <div>
                                <label for="discount" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Discount:</label>
                                <input type="number" name="discount" id="discount" placeholder="Enter Discount" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                        </div>
                        <div class="w-1/2 xl:pl-6 lg:pl-5 md:pl-4 sm:pl-3 pl-2">
                            <div>
                                <label for="bgColor" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">BG-Color:</label>
                                <input type="color" name="bgColor" id="bgColor" class=" my-1 outline-none block w-full sm:px-3 sm:py-2 px-2 py-1 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                            <div>
                                <label for="panelColor" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Panel-Color:</label>
                                <input type="color" name="panelColor" id="panelColor" class=" my-1 outline-none block w-full sm:px-3 sm:py-2 px-2 py-1 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                            <div>
                                <label for="textColor" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Text-Color:</label>
                                <input type="color" name="textColor" id="textColor" class=" my-1 outline-none block w-full sm:px-3 sm:py-2 px-2 py-1 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                            <div>
                                <label for="quantity" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Quantity:</label>
                                <input type="number" name="quantity" id="quantity" placeholder="Enter Quantity" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">
                            </div>
                        </div>
                    </div>
                    <button class="md:h-12 sm:h-10 xs:h-9 h-8 w-full bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 transition" type="submit">Add</button>                          
                </form>
            </div>          
        <% } %>

        <!-- Menu Bar -->
        <nav class="flex justify-between items-center bg-white w-full xl:h-24 lg:h-20 md:h-16 sm:h-14 h-12 shadow-md fixed top-0 left-0 xl:px-16 lg:px-14 md:px-12 sm:px-10 xs:px-8 px-6 z-50">
            <div class="flex items-center">
                <form action="/" method="get">
                    <button class="font-bold text-blue-500 lg:text-4xl md:text-3xl sm:text-2xl text-xl">Scatch</button>
                </form>
            </div>
            <div class="flex justify-evenly items-center">
                <form action="/owner/panel/stats" method="get">
                    <button class="text-green-500 hover:text-green-700 font-bold py-2 md:px-4 sm:px-3 px-2 lg:text-base sm:text-sm text-xs" type="submit">Statistics</button>
                </form>
                <button class="text-red-500 hover:text-red-700 font-bold py-2 md:px-4 sm:px-3 px-2 lg:text-base sm:text-sm text-xs" id="addProduct">Add Product</button>
            </div>              
        </nav>      

        <div class="px-7">
            <!-- Side Left Bar -->
            <div class="bg-gray-300 fixed xl:top-32 lg:top-28 md:top-24 sm:top-20 top-16 xl:w-[180px] lg:w-[160px] md:w-[140px] sm:w-[120px] xs:w-[100px] w-[80px] xl:h-52 lg:h-44 md:h-36 sm:h-32 xs:h-28 h-24">
                <button class="text-gray-800 font-bold py-2 lg:text-lg md:text-base sm:text-sm text-xs">Filter by</button>
                <button class="text-gray-800 font-bold py-2 lg:text-lg md:text-base sm:text-sm text-xs">Sort by</button>
            </div>  
            <!-- Main products display area (Change flex to grid) -->
            <div class="grid xxl:grid-cols-7 xl:grid-cols-6 lg:grid-cols-5 sm:grid-cols-4 xs:grid-cols-3 grid-cols-2 gap-5 w-full h-full xl:pt-32 lg:pt-28 md:pt-24 sm:pt-20 pt-16 xl:pl-[230px] lg:pl-[200px] md:pl-[180px] sm:pl-[150px] xs:pl-[120px] pl-[100px]">      
                <% products.forEach( (product)=>{ %>
                    <div class="relative product rounded-md overflow-hidden xl:w-[11vw] xl:h-[15vw] lg:w-[13vw] lg:h-[18vw] sm:w-[16vw] sm:h-[22vw] xs:w-[20vw] xs:h-[29vw] xss:w-[31vw] xss:h-[40vw] w-[26vw] h-[35vw] flex flex-col bg-slate-400 z-10">
                        <div class="relative h-[72%] w-full flex justify-center items-center" style="background-color: <%= product.bgColor %>;">
                            <img src="data:image/png;base64,<%= product.image.toString('base64') %>" alt="Product image!" class="h-auto w-auto max-h-[85%] max-w-[85%] min-h-[75%] min-w-[70%]">
                            <% if(product.quantity < 1) { %>
                                <div class="bg-red-600 text-white absolute bottom-0 left-0 px-[4px] rounded-tr-lg lg:text-[14px] md:text-[12px] sm:text-[11px] xs:text-[10px] xss:text-[9px] text-[8px]">Out of Stock</div>
                            <% } %>
                        </div>
                        <div class="flex w-[100%] h-[28%] md:px-2 px-1" style="background-color: <%= product.panelColor %>;">
                            <div class="w-[80%] h-full flex flex-col justify-center" style="color: <%= product.textColor %>;">
                                <p class="capitalize xxl:text-[19px] xl:text-[17px] lg:text-[15px] md:text-[13px] sm:text-[11px] text-[9px] tracking-tight font-medium"><%= product.name %></p>
                                <p class="capitalize xxl:text-[19px] xl:text-[17px] lg:text-[15px] md:text-[13px] sm:text-[11px] text-[9px] tracking-tight font-medium">Rs.<%= product.price %></p>
                            </div>
                            <!--edit icon-->
                            <div class="w-[20%] h-full flex items-center justify-center">
                                <button class="editProductButton rounded-full xl:w-[25px] xl:h-[25px] lg:w-[21px] lg:h-[21px] sm:w-[17px] sm:h-[17px] xs:w-[14px] xs:h-[14px] w-[12px] h-[12px] bg-white text-black flex justify-center items-center" type="submit">
                                    <i class="fa-regular fa-pen-to-square lg:text-[14px] md:text-[12px] sm:text-[10px] xs:text-[9px] text-[7px]"></i>
                                </button>
                            </div>
                        </div>
                        <!--delete icon-->
                        <form action="/product/delete/<%= product._id %>" method="post">
                            <button class="absolute sm:top-2 sm:right-2 top-1 right-1 rounded-full xl:w-[25px] xl:h-[25px] lg:w-[21px] lg:h-[21px] sm:w-[17px] sm:h-[17px] xs:w-[14px] xs:h-[14px] w-[12px] h-[12px] hover:bg-red-700 hover:text-white text-red-600 flex justify-center items-center" type="submit">
                                <i class="fa-solid fa-xmark xl:text-[16px] lg:text-[14px] md:text-[13px] sm:text-[12px] xs:text-[11px] text-[10px]"></i>
                            </button>
                        </form>
                    </div> 
                    <!-- Edit Product Popup -->
                    <div class="overflow-hidden editProductPopup hidden rounded-sm absolute top-[20%] h-[auto] max-h-[90%] xl:left-[35%] xl:w-[30%] lg:left-[30%] lg:w-[40%] md:left-[27%] md:w-[46%] sm:left-[25%] sm:w-[50%] xs:left-[20%] xs:w-[60%] left-[15%] w-[70%] bg-gradient-to-t from-slate-600 to-neutral-300 pt-2 pb-4 px-3 shadow-lg z-50">
                        <h2 class="text-lg font-semibold mb-4">Edit Product</h2>
                        <button class="absolute top-0 right-0 cancelEdit lg:h-9 md:h-8 sm:h-7 xs:h-6 h-5 lg:w-12 md:w-11 sm:w-10 xs:w-9 w-8 bg-red-600 hover:bg-red-700 focus:outline-none focus:ring focus:ring-blue-300 transition text-white lg:text-[130%] md:text-[115%] sm:text-[100%] xs:text-[90%] text-[80%] align-middle"><i class="fa-solid fa-xmark"></i></button> 
                        <form action="/product/edit" method="post" class="text-white space-y-3" enctype="multipart/form-data">
                            <div class="w-full flex flex-wrap xl:text-[16px] lg:text-[15px] md:text-[14px] sm:text-[13px] xs:text-[12px] text-[10px]">
                                <input type="text" name="_id" value="<%= product._id %>" class="hidden text-black">
                                <div class="w-1/2">
                                    <div>
                                        <label for="image" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Image:</label>
                                        <label for="image" class="flex items-center my-1 outline-none w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7">Choose file</label>
                                        <input type="file" name="image" id="image" class="hidden">
                                    </div>
                                    <div>
                                        <label for="name" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Name:</label>
                                        <input type="text" name="name" id="name" placeholder="Enter Name" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7" value="<%= product.name %>">
                                    </div>
                                    <div>
                                        <label for="price" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Price:</label>
                                        <input type="number" name="price" id="price" placeholder="Enter Price" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7" value="<%= product.price %>">
                                    </div>
                                    <div>
                                        <label for="discount" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Discount:</label>
                                        <input type="number" name="discount" id="discount" placeholder="Enter Discount" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7" value="<%= product.discount %>">
                                    </div>
                                </div>
                                <div class="w-1/2 xl:pl-6 lg:pl-5 md:pl-4 sm:pl-3 pl-2">
                                    <div>
                                        <label for="bgColor" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">BG-Color:</label>
                                        <input type="color" name="bgColor" id="bgColor" class=" my-1 outline-none block w-full sm:px-3 sm:py-2 px-2 py-1 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7" value="<%= product.bgColor %>">
                                    </div>
                                    <div>
                                        <label for="panelColor" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Panel-Color:</label>
                                        <input type="color" name="panelColor" id="panelColor" class=" my-1 outline-none block w-full sm:px-3 sm:py-2 px-2 py-1 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7" value="<%= product.panelColor %>">
                                    </div>
                                    <div>
                                        <label for="textColor" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Text-Color:</label>
                                        <input type="color" name="textColor" id="textColor" class=" my-1 outline-none block w-full sm:px-3 sm:py-2 px-2 py-1 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7" value="<%= product.textColor %>">
                                    </div>
                                    <div>
                                        <label for="quantity" class="block sm:text-sm xs:text-[14px] text-[12px] mb-1">Quantity:</label>
                                        <input type="number" name="quantity" id="quantity" placeholder="Enter Quantity" class=" my-1 outline-none block w-full sm:px-3 xs:px-2 px-1 py-2 border border-gray-300 rounded-md bg-slate-300 focus:border-blue-500 focus:ring focus:ring-blue-300 transition md:h-10 sm:h-9 xs:h-8 h-7" value="<%= product.quantity %>">
                                    </div>
                                </div>
                            </div>
                            <button class="md:h-12 sm:h-10 xs:h-9 h-8 w-full bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 transition" type="submit">Edit</button>                          
                        </form>
                    </div>
                <% } ) %>             
            </div>
        </div>

    </div>
    <script src="/scripts/panelScript.js"></script>
</body>
</html>